Package         Version
--------------- -------
Cython          0.29.3 
numpy           1.16.1 
pandas          0.24.0 
pip             19.0.1 
pkg-resources   0.0.0  
python-dateutil 2.7.5  
pytz            2018.9 
setuptools      40.7.2 
six             1.12.0 
Test-app        0.0.0  
wheel           0.32.3 
